
/*

.navbar {
    background-color: none;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar > .navbar-list {
    list-style: none;
    margin: 0;
    float: right;
    font-size: 0;
}

.navbar > .navbar-list > .navbar-item {
    display: inline;
    font-size: 16px;

}

.navbar > .navbar-list > .navbar-item a {
    padding: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px #05212c;
    display: inline-block;
    transition: all 0.5s linear;
    border-radius: 10px;
}

.navbar > .navbar-list > .navbar-item.active a{
    color: var(--secondary-color);
    background-color: var(--main-color);
}


.navbar > .navbar-list > .navbar-item a:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
}
  */



.navbar { 
    list-style:none; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar ul { 
    list-style: none;
    margin: 0;
    float: right;
    font-size: 0;
}

.navbar ul li { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size:16px; 
    display: inline;
    
}

.navbar ul li a { 
    
    background-color: var(--main-color); 
    text-decoration:none;
    padding: 18px;
    margin: 5px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px #05212c;
    display: inline-block;
 /*   transition: all 0.5s linear; */
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000000;
}

.navbar ul li a:hover { 
    -moz-transform:rotate(-5deg); 
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg); 
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(4deg); box-shadow:10px 10px 20px #000000; 
    margin-left: 10px;
}

.navbar > .navbar-list > .navbar-item.active a{
    -moz-transform:rotate(-5deg); 
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg); 
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(4deg); box-shadow:10px 10px 20px #000000; 
    margin-left: 10px;
    color: var(--secondary-color);
}





/*  */ 



footer {
    background-color: var(--main-color);
    color: white;
    text-shadow: 1px 1px 2px #05212c;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
